/* CSS Document */
/* 以下样式为通用样式，可以不作改动 */
body {font-family:"microsoft yahei",Arial;font-size:12px;color:#3d3d3d;background:#ffffff}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,blockquote,button,p{padding:0; margin:0;}
table,td,tr,th{font-size:14px;}
li{list-style-type:none;}
table{ margin:0 auto;}
img{border:0;}
ol,ul {list-style:none;}   
caption,th {text-align:left;}  
h1,h2,h3,h4,h5,h6 {font-size:14px; font-weight:normal;}   
q:before,q:after {content:'';}   
abbr,acronym {border:0;}
address,caption,cite,code,dfn,em,th,var {font-weight:normal; font-style:normal;} 
img{border:0px;}  
.mw{margin:0 auto;width:990px;}
a{color:#3d3d3d;text-decoration:none;border:0px;font-family:"microsoft yahei",Arial;}
a:hover{color:#235cb2;text-decoration:underline;}

.cle{clear:both;}
.colorF{color:#ffffff;}
.yahei{font-family:''宋体'',Arial}

.fl{float:left;}
.fr{float:right;}

.txtcenter{text-align:center}
.txtleft{text-align:left}
.txtright{text-align:right}
.txtp p{text-indent:24px;}

.borderno{border:none!important}
.bgno{background:none!important}
/* 以下备用样式表单，可根据自己需要改变数字 */
.pt10{padding-top:10px;}
.pt20{padding-top:20px;}
.pt5{padding-top:5px;}
.pl5{padding-left:5px;}
.pr5{padding-right:5px;}
.mt10{margin-top:10px;}
.blank30 {clear:both;height:30px;overflow:hidden;display:block}
.blank10 {clear:both;height:10px;overflow:hidden;display:block}
.blank20 {clear:both;height:20px;overflow:hidden;display:block}